/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
  padding: 20px;
}

header,
section {
  margin-bottom: 20px;
}

header button,
header select {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

header button:hover,
header select:hover {
  background-color: #0056b3;
}